:root{
    --main-bg-color: #eff5fe ;
    --border-color: #0288d147;
    --container-width: 500px;
}

body,html{
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding: 0%;
    margin: 0;
}

body,
.drop-zone,
.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-container{
    background:#ffffff ;
    border-radius: 25px;
    box-shadow: 0 20px 20px #0000003e;
}

.drop-zone{
    width: var(--container-width);
    height: 200px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.dragged.drop-zone{
    background: var(--main-bg-color);
    border-color:#2196f3 ;
}

.icon-container{
    width: 75px;
    height: 100px;
    position: relative;
}

.icon-container img{
    width: 75px;
    position: absolute;
    transform-origin:bottom;
    transition: transform 250ms ease-in-out;
}
.icon-container .center{
    z-index: 2;
}

.icon-container .right, .icon-container .left{
    filter: grayscale(0.4);
}
.dragged .icon-container .right{
    transform: rotate(12deg) translateX(15px) scale(0.9);
    
}

.dragged .icon-container .left{
    transform: rotate(-12deg) translateX(-15px) scale(0.9);
    
}
.dragged .icon-container .center{
    transform: translateY(-5px);
}

#file-input{
    display: none;
}

.browse-btn{
    color: #2196f3;
    cursor: pointer;
}

.progress-container{
    width: var(--container-width);
    height: 55px;
    border: 2px solid var(--main-bg-color);
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
    display: none;
}

.progress-container .bg-progress{
    background:var(--main-bg-color) ;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    /* transform: scaleX(0); */
   
    transition: width .25s linear;
    position: absolute;
}

.progress-container .inner-container{
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    width: 100%;
}
.percent-container{
    font-size: 13px;
    margin: 2px;
    opacity: 0.8;
}

.progress-bar{
    height:3px ;
    width: 98%; 
    background: #03a9f4;
    border-radius: 2px;
    transform-origin: left;
    transition:transform 0.25s linear ;
}